"""{{ package_name }} - {{ project_description }}"""

__version__ = "0.1.0"
__author__ = "{{ author_name }}"
__email__ = "{{ author_email }}"

from invoke_toolkit.collections import ToolkitCollection

# Create a collection that auto-discovers all task modules in this package
collection = ToolkitCollection("{{ collection_name }}")
collection.add_collections_from_namespace("{{ package_slug }}")

__all__ = ["collection"]
