"""{{ project_description }}"""

from invoke_toolkit import Context, task


@task(
    help={
        "name": "Name to greet",
    }
)
def hello(ctx: Context, name: str = "World"):
    """
    Say hello
    """
    ctx.print_success(f"Hello, {name}!")
