"""{{ project_description }}"""

from typing import Annotated

from invoke_toolkit import Context, task


@task
def hello(ctx: Context, name: Annotated[str, "Name to greet"] = "World"):
    """Say hello."""
    ctx.print(f"[bold green]Hello, {name}![/bold green]")
